/* ==== GOOGLE FONTS ====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

/* ==== VARIABLES CSS ====*/
:root {
  /* 1rem = 16px */
  --header-height: 4rem;

  /* ==== Font and typography ====*/
  --body-font: "Roboto", sans-serif;

  /* ==== CoLors ====*/
}

:root,
:root.light {
  /* HSL coLor mode */
  --highlight-color: hsl(180, 100%, 40%);
  --text-color: hsl(180, 5%, 19%);
  --search-bar-color: hsl(0, 0%, 96%);
  --body-color: hsl(0, 0%, 100%);
  --tag-color: hsl(4, 62%, 48%);
  --footer-color: hsl(180, 5%, 19%);
}
/* 
:root,
:root.dark {

  --highlight-color: hsl(180, 100%, 40%);
  --search-bar-color: hsl(0, 0%, 29%);
  --text-color: hsl(0, 0%, 100%);
  --body-color: hsl(180, 4%, 27%);
  --tag-color: hsl(4, 62%, 48%);
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color:var(--search-bar-color);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: var(--body-font);
}
#form-title{
  color: var(--highlight-color);
  margin-top: 2rem;

}
.contact-form{
    display: flex;
    flex-direction: column;
    height: 25rem;
    justify-content: space-around;
    align-items: center;
    background-color:var(--search-bar-color);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    font-weight: bold;
}
.form-group{
    display: flex;
    width: 19rem;
    flex-direction: column;
    height: 32rem;
    justify-content: space-around;
}
#message-label{
  margin: 0.9rem 0;

}
.form-group input {
    border-radius: 0.5rem;
    height: 3rem;
} 

#message{
    border-radius: 0.5rem;
    height: 7rem;
    border: 2px var(--text-color) solid;
}
button{
  margin-top: 1rem;
  width: 7rem;
  height: 8rem;
  border-radius: 0.8rem;
  background-color: var( --highlight-color);
  font-weight: bold;
  border: 1px var(--search-bar-color) solid;
  color : var(--search-bar-color);
}

/* About Us*/

h1{
    text-align: center;
}
.about-section{
padding: 1rem;
}
.about-section p{
    padding: 1rem;
}