/* ==== GOOGLE FONTS ====*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");

/* ==== VARIABLES CSS ====*/
:root {
  /* ==== Font and typography ====*/
  --body-font: "Roboto", sans-serif;

  /* ==== CoLors ====*/
}

:root,
:root.light {
  /* HSL coLor mode */
  --highlight-color: hsl(180, 90%, 27%);
  --highlight-color-hover: hsl(180, 100%, 40%);
  --text-color: hsl(180, 5%, 19%);
  --search-bar-color: hsl(0, 0%, 96%);
  --header-footer-color: hsl(0, 0%, 100%);
  --body-color: hsl(0, 0%, 100%);
  --tag-color: hsl(4, 62%, 48%);
  --footer-color: hsl(180, 5%, 19%);
  --margin-color: rgba(0, 0, 0, 0.08);
  --card-color: #fff;
}

:root,
:root.dark {
  --highlight-color: hsl(180, 90%, 27%);
  --highlight-color-hover: hsl(180, 100%, 40%);
  --search-bar-color: hsl(0, 0%, 93%);
  --text-color: hsl(0, 0%, 100%);
  --header-footer-color: #191919;
  --body-color: #2c2c2c;
  --tag-color: hsl(4, 62%, 48%);
  --margin-color: rgba(169, 169, 169, 0.768);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--body-color);
  transition: background-color 0.5s ease;
}

/*HEADER SECTION*/

header {
  background-color: var(--header-footer-color);
  font-family: var(--body-font);
  padding: 0 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--margin-color);
  color: var(--text-color);
}

.logo {
  color: var(--highlight-color);
  font-size: 3rem;
  width: 80%;
  height: 70%;
}

.logoContainer {
  height: 4rem;
}

.search-burgerContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.searchBarContainer {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.searchBar {
  border: none;
  width: 100%;
  border-radius: 0.3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.searchBar-icon {
  padding: 10px;
  color: var(--highlight-color) !important;
  font-size: 1.3rem;
  position: absolute;
}

.input-field {
  font-size: 1.3rem;
  width: 100%;
  padding: 1rem 2.5rem;
  border-radius: 0.3rem;
  color: var(--text-color);
  background-color: var(--search-bar-color);
  border: none;
}

.loginContainer {
  order: 2;
  width: 45%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.login {
  order: 2;
  border-radius: 0.3rem;
  border: 2px solid var(--margin-color);
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.login:hover {
  background-color: var(--highlight-color-hover);
}

.login-icon {
  color: var(--highlight-color-hover);
  padding-right: 0.5rem;
}

.burgerMenu {
  display: none;
}

.themeDiv {
  order: 3;
}

#themeChanger {
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  background: url("assets/icon-moon.svg");
}

#themeChanger:checked {
  border: none;
  background: url("assets/icon-sun.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*MAIN SECTION*/

main {
  width: 100%;
  /* height: 100vh; */
  position: relative;
  display: flex;
  align-content: space-between;
}

.selection-Container {
  /* border: rgb(5, 5, 37) solid 2px; */

  width: 25%;
  height: 27rem;
  margin-top: 2rem;
  overflow-y: scroll;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(121, 120, 120);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #494848;
}

.selections {
  /* border: orange dashed 3px; */
  height: fit-content;
  padding-left: 2.5rem;
}

.filter,
.offers,
.tickets,
.diet,
.categories {
  /* border: black solid 3px; */
  padding-top: 0.4rem;
}

.filterTitle,
.offersTitle,
.ticketsTitle,
.dietTitle,
.categoriesTitle {
  width: 15rem;
  list-style: none;
  color: black;
  list-style: none;
  font-size: 1.5rem;
  font-family: sans-serif;
  padding-right: 1rem;

  padding-top: 1rem;
  padding-bottom: 1rem;

  border-bottom: solid #b4b2b2 1.3px;
}

/* .filter-Ul,
.offers-Ul,
.tickets-Ul,
.diet-Ul,
.categories-Ul {


} */

.li {
  /* border: red solid 2px; */
  /* border-bottom: #8a8989 solid 1px; */

  width: 75%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.liParag {
  /* border: rgb(148, 109, 109) solid 2px; */

  width: 80%;
}

a[href] {
  /* border: red solid 2px; */
  width: 70%;
  color: black;
  text-decoration: none;
}

input[type="checkbox"] {
  border: gray solid 3px;
  width: 1rem;
  height: 1rem;

  border-radius: 50%;
}

input:checked {
  border-color: rgb(255, 0, 0);
}

input:focus {
  box-shadow: 0 0 3px rgb(0, 0, 0);
}

/* .filter:hover .filter-Ul,
.offers:hover .offers-Ul,
.tickets:hover .tickets-Ul,
.diet:hover .diet-Ul,
.categorys:hover .categorys-Ul {
    display: block;
} */

/* ul li {
    /* position: relative; */
/* float: left; */

/*ul li a {
    color: black;
    font-size: 2rem;
    padding: 1rem;
    display: block;
}
ul .filter {
    border: red solid 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
} */

.foodContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.cartProductsContainer {
  width: 300px;
  height: 400px;
  background-color: white;
  position: absolute;
  top: 5rem;
  right: 5rem;
  z-index: 2;
  animation: cardPopap 0.5s ease-in-out;
  border-radius: 15px;
  /* opacity: 1; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 5px;
  visibility: hidden;
  overflow-y: scroll;
  padding: 20px;
}

@keyframes cardPopap {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.card {
  width: 250px;

  height: fit-content;
  padding: 10px;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  font-size: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  gap: 10px;
}

.card:hover {
  transform: scale(0.9);
}

.foodImgDiv {
  width: 100%;
  height: 200px;
  position: relative;
}

.foodImgDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.namePriceDiv {
  width: 100%;
  /*   height: 50px; */
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0 0 0;
}

.name {
  width: 70%;
  /*   height: 100%; */
}

.price {
  width: 25%;
  /*  height: 100%; */
  color: var(--highlight-color);
}

.tags {
  width: 100%;
  /*   height: 50px; */
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
}

.tags p {
  font-size: 0.8rem;
  padding: 0.4rem 0 0.8rem;
}

.category h1 {
  color: var(--highlight-color);
  padding-bottom: 0.6rem;
  font-size: 0.8rem;
}

.rating {
  width: 100%;
  /*  height: 50px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starDiv {
  width: 50%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.shoppingBasket {
  display: flex;
  align-items: center;
  justify-content: center;
}

.removeImg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.removeImg:hover {
  transform: scale(1.2);
}

.totalBtn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--highlight-color);
  border: none;
  cursor: pointer;
  text-align: center;
  color: white;
}

.totalBtn:hover {
  background-color: var(--highlight-color-hover);
  color: black;
}

.liDiv {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #191919;
}

.shoppingBasket input {
  appearance: none;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-image: url(assets/basket-shopping);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.addTocardOmg {
  width: 15%;
  height: 15px;
  border: none;
  background-color: none;
  background-image: url(assets/cart-shopping-solid.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  position: absolute;
}

.rating i {
  width: 20px;
  height: 20px;
  font-size: 0.8rem;
}

.fa-solid {
  font-size: 0.8rem;
  color: gold;
}

/*FOOTER SECTION*/

footer {
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  border-top: 2px solid var(--margin-color);
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footerLinks {
  display: flex;
}

.offer {
  width: 150px;
  text-align: center;
  padding: 5px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--tag-color);
  color: white;
  font-size: 0.8rem;
  opacity: 0.8;
  text-transform: capitalize;
}

.footerLinks p {
  margin: 0px 1rem;
  padding-bottom: 1rem;
}

.footerLinks p:hover {
  color: var(--highlight-color);
  margin: 0px 1rem;
}

.footerSocialMedia {
  padding-top: 1rem;
  font-size: 20px;
  color: white;
}

.footerSocialMedia a {
  margin: 0px 1rem;
  color: var(--highlight-color);
}

.footerRight {
  font-size: 2rem;
  margin-top: 1rem;
  border-radius: 9rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  bottom: 4rem;
}

.footerRight a i {
  color: var(--text-color);
}

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
    position: relative;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .themeDiv {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .loginContainer {
    width: 100%;
    padding: 0 1rem;
    justify-content: space-between;
  }

  .login {
    border: none;
    font-size: 1rem;
  }

  .login-icon:hover {
    color: var(--highlight-color);
  }

  .user-login {
    display: none;
  }

  .searchBarContainer {
    width: 90%;
  }

  .search-burgerContainer {
    width: 100%;
    padding-top: 1rem;
  }

  .search-burgerContainer {
    padding: 1rem;
  }

  .burgerMenu {
    display: flex;
  }

  .burgerMenu i {
    font-size: 2rem;
    color: var(--highlight-color-hover);
  }

  .burgerMenu:hover {
    color: var(--highlight-color);
  }

  main {
    width: 100%;
  }

  .foodContainer {
    width: 100%;
  }

  ul {
    display: none;
  }

  .filtersContainer {
    display: none;
  }
}
